version: 2.1 # use CircleCI 2.0
executors:
  test_exec:
    docker:
      - image: circleci/node:lts
      
# Orchestrate or schedule a set of jobs, see https://circleci.com/docs/2.0/workflows/
workflows:
  version: 2
  build-then-deploy:
    jobs:
      - build
      - master-branch-test:
          requires:
            - build
      # - staging-branch-test:
      #     requires:
      #       - build

jobs: # a collection of steps
  build:
    executor: test_exec
    steps: # a collection of executable commands
      - run: echo "Executing build job"
      - run: echo 'asdf' >> .test.env
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - .test.env
      - run: ls -lart

  master-branch-test:
    executor: test_exec
    steps:
      - run: echo "Executing master branch job"
      - attach_workspace:
          at: /home/circleci/project
      - run: ls -lart

  # staging-branch-test:
  #   executor: test_exec
  #   steps:
  #     - run: echo "Executing Staging branch job"
