version: 2.1 # use CircleCI 2.0
  
# Orchestrate or schedule a set of jobs, see https://circleci.com/docs/2.0/workflows/
workflows:
  version: 2
  build-then-deploy:
    jobs:
      - build

jobs: # a collection of steps
  build:
    environment:
      MASTER_BRANCH: master
    docker: # run the steps with Docker
      - image: circleci/node:lts-browsers # ...with this image as the primary container; this is where all `steps` will run
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory
      - run:
          name: Set UI test config environment variables
          command: |
            echo 'export USERNAME=$MASTER_USERNAME' >> $BASH_ENV 
            echo $USERNAME
      - run: echo $USERNAME
      - run: echo $MASTER_USERNAME
